:root{
  --ColorWhite: hsl(0, 0%, 100%);
--ColorG: hsl(212, 45%, 89%);
--ColorB: hsl(216, 15%, 48%);
--ColorDB: hsl(218, 44%, 22%);
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
body{
  font-family: "Outfit", serif;
  font-weight: 400;
  background: var(--ColorG);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  margin-bottom: 15px;
}
p{
  font-weight: 400;
  margin-bottom: 15px;
}
img{
  max-width: 100%;
  height: auto;
}
.card{
  background: var(--ColorWhite);
  padding: 14px;
  border-radius: 15px;
  width: 330px;
}
.card img{
  border-radius: 10px;
}
.card_font{
  padding: 25px 20px;
  text-align: center;
}
.card_font h4{
  font-size: 20px;
  color: var(--ColorDB);
}
.card_font p{
  color: var(--ColorB);
  font-size: 15px;
}
